<div id="about-me"></div>
<section>
    @if (isVisible) {
    <div class="info-container" @flyInLeft>
        @if (appComponent.chosenLanguege === 'EN') {
        <h1>{{EN.title}}</h1>
        <p>{{EN.paragraph1}}</p>
        <span>
            <img src="assets/img/bulb-desktop.png" loading="lazy">
            <p>{{EN.paragraph2}}</p>
        </span>
        <span>
            <img src="assets/img/puzzle-desktop.png" loading="lazy">
            <p>{{EN.paragraph3}}</p>
        </span>
        } @else if (appComponent.chosenLanguege === 'DE'){
        <h1>{{DE.title}}</h1>
        <p>{{DE.paragraph1}}</p>
        <span>
            <img src="assets/img/bulb-desktop.png" loading="lazy">
            <p>{{DE.paragraph2}}</p>
        </span>
        <span>
            <img src="assets/img/puzzle-desktop.png" loading="lazy">
            <p>{{DE.paragraph3}}</p>
        </span>
        }
    </div>
    }
    @if (isVisible) {
    <div class="picture-container" @flyInRight>
        <img src="assets/img/about-me-portrait.png" loading="lazy">
        <div></div>
    </div>
    }
    <img id="background-shadow" src="assets/img/about-me-shadow.png" loading="lazy">
</section>