@import '../../styles.scss';

section {
    @include flex-box($jc: space-between);
    min-width: 100%;
    min-height: 500px;
    position: relative;

    >img {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        right: 0;
        top: -300px;
        opacity: 0;
    }
}

.info-container {
    @include flex-box($ai: flex-start);
    @extend .side-padding;
    z-index: 2;
    background-color: transparent;
    max-width: 60%;
    flex-direction: column;
    gap: 35px;

    >h1 {
        font-size: 90px;
        background-color: transparent;
    }

    p {
        font-size: 16px;
        text-wrap: pretty;
        background-color: transparent
    }

    >span {
        @include flex-box();
        gap: 35px;
        background-color: transparent;

        >img {
            transition: all 100ms ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.picture-container {
    @include flex-box($jc: flex-end);
    z-index: 2;
    background-color: transparent;
    width: 50%;
    height: 500px;

    >div {
        height: 4px;
        width: calc(66% - 280px);
        background-color: #70E61C;
        min-width: 20px;
    }

    >img {
        border-radius: 100%;
        border: 4px solid #70E61C;
        height: auto;
        width: 100%;
        max-width: 500px;
    }
}

#about-me {
    height: 600px;
}

@media screen and (max-width: 1300px) {
    .info-container {
        max-width: 55%;

        >h1 {
            font-size: 80px;
        }
    }

    .picture-container {
        width: 40%;

        >img {
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .info-container {
        >h1 {
            font-size: 70px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .info-container {
        max-width: 50%;

        >h1 {
            font-size: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    .info-container {
        max-width: 100%;

        >h1 {
            font-size: 50px;
        }
    }

    .picture-container {
        display: none;
    }
}