<section id="about-me">
    <div class="info-container">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, error rem placeat nihil tempore tenetur
            saepe voluptate accusamus eveniet aperiam fuga nemo quo obcaecati debitis illum explicabo eius non cumque.
        </p>
        <span>
            <img src="assets/img/bulb-desktop.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsum similique, repellendus vel et quae
                modi
                exercitationem, ipsa est numquam temporibus eligendi natus tenetur veritatis in eos aliquid. Delectus,
                sit.
            </p>
        </span>
        <span>
            <img src="assets/img/puzzle-desktop.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta saepe aliquam at cum cumque. Mollitia
                tenetur
                nulla voluptate similique, reiciendis tempora perspiciatis sed error harum, vero doloremque alias qui
                veniam!</p>
        </span>
    </div>
    <div class="picture-container">
        <img src="assets/img/about-me-portrait.png">
        <div></div>
    </div>
    <img src="assets/img/about-me-shadow.png">
</section>