<section>
    <div>
        @if (isVisible) {
        <div class="portrait-container" @flyInLeft>
            <img src="assets/img/portrait-shadow.png">
            <img src="assets/img/above-the-fold-portrait.webp">
        </div>
        }
        @if (isVisible && appComponent.chosenLanguege === 'EN') {
        <div class="main-text" @flyInRight>
            <span>
                <h3>{{EN.introduction}}</h3>
                <span>
                    <h1>{{EN.name}}</h1>
                    <h2>{{EN.description}}</h2>
                </span>
            </span>
            <a href="#contact" class="primary-button">{{EN.button}}</a>
        </div>
        } @else {
        <div class="main-text" @flyInRight>
            <span>
                <h3>{{DE.introduction}}</h3>
                <span>
                    <h1>{{DE.name}}</h1>
                    <h2>{{DE.description}}</h2>
                </span>
            </span>
            <a href="#contact" class="primary-button">{{DE.button}}</a>
        </div>
        }
    </div>
    @if (windowWidth > 1024) {
    <img src="assets/img/background-shape.png">
    }
    @else {
    <img src="assets/img/background-shape-mobile.png">
    }
</section>
<div class="end">
    @if (isVisible) {
    <div @flyInLeft>
        <div></div>
        <a href="https://github.com/SerhatKaanManisali" target="_blank"><img src="assets/img/github.png"></a>
        <a href="mailto:mail@serhat-kaan-manisali.com"><img src="assets/img/email.png"></a>
        <a href="https://www.linkedin.com/in/serhat-kaan-manisali" target="_blank"><img
                src="assets/img/linked-in.png"></a>
        @if (windowWidth > 1024) {
        <a href="mailto:mail@serhat-kaan-manisali.com" target="_blank">mail&#64;serhat-kaan-manisali.com</a>
        }
    </div>
    }
    @if (isVisible && windowWidth > 768) {
    <div #scrollSymbol @flyInRight [@hover]="hoverAnimation ? 'top' : 'bottom'">
        @if (appComponent.chosenLanguege === 'EN') {
        <p>{{EN.scroll}}</p>
        } @else {
        <p>{{DE.scroll}}</p>
        }
        <img src="assets/img/arrow-down.png">
    </div>
    }
</div>