@import '../../styles.scss';

section {
    @include flex-box();
    @extend .side-padding;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: 100vh;

    >div {
        @include flex-box($jc: space-between, $ai: flex-start);
        width: 100%;
    }

    >img {
        position: absolute;
        width: 100%;
        max-width: 1920px;
        top: 32%;
        z-index: 1;
        background-color: transparent;
    }
}

.portrait-container {
    position: relative;
    height: 100vh;
    width: 100%;

    >img {
        position: absolute;
        background-color: transparent;

        &:first-of-type {
            left: -200px;
            top: 150px;
            height: 100%;
            max-width: 99vw;
        }

        &:last-of-type {
            top: -90px;
            left: 0;
            height: 100vh;
            width: auto;
        }
    }
}

.main-text {
    @include flex-box();
    flex-direction: column;
    gap: 40px;
    z-index: 2;
    background-color: transparent;
    margin-top: 10%;

    >span {
        @include flex-box();
        background-color: transparent;

        >span {
            @include flex-box();
            flex-direction: column;
            text-wrap: nowrap;
            background-color: transparent;

            >h1 {
                font-size: 58px;
                background-color: transparent;
            }

            >h2 {
                font-size: 60px;
                font-weight: 400;
                color: #9747FF;
                background-color: transparent;
                text-align: center;
            }
        }

        >h3 {

            font-size: 62px;
            font-weight: 400;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            background-color: transparent;
        }
    }

    >a {
        text-decoration: none;
    }
}

.end {
    @include flex-box($jc: space-between);
    position: absolute;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    margin-top: -185px;
    padding-right: calc(33% - 410px);

    >div {
        &:first-of-type {
            @include flex-box($jc: flex-start);
            gap: 2.5%;
            width: 100%;
            background-color: transparent;

            >div {
                width: calc(33% - 370px);
                height: 4px;
                background-color: #9747FF;
                border-radius: 10px;
            }

            >a {
                background-color: transparent;
                text-decoration: none;
                height: 30px;

                >img {
                    background-color: transparent;
                    transition: all 100ms ease-in-out;


                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &:last-of-type {
            @include flex-box();
            align-self: flex-end;
            writing-mode: vertical-lr;
            background-color: transparent;
            text-wrap: nowrap;
            gap: 10px;
            margin-bottom: 40px;

            >p {
                background-color: transparent;
            }

            >img {
                margin-right: 4px;
                background-color: transparent;
            }
        }
    }
}

@media screen and (min-width: 1921px) {
    .end {
        max-width: 1920px;
        padding-right: 230px;
        margin-top: -250px;
    }
}

@media screen and (max-width: 1600px) {
    section {
        >img {
            top: 42%;
        }
    }
}

@media screen and (max-width: 1450px) {
    section {
        >img {
            top: 47%;
        }
    }

    .main-text {
        h1 {
            font-size: 50px !important;
        }

        h2 {
            font-size: 52px !important;
        }

        h3 {
            font-size: 54px !important;
        }
    }
}

@media screen and (max-width: 1300px) {
    section {
        >img {
            top: 52%;
        }
    }

    .portrait-container {
        height: 95vh;

        >img {
            &:first-of-type {
                top: 80px;
                left: -150px;
                width: 850px;
            }

            &:last-of-type {
                top: -130px;
                height: 95vh;
            }
        }
    }

    .end {
        >div {
            &:last-of-type {
                margin-right: 2%;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    section {
        >img {
            top: 57%;
        }
    }

    .main-text {
        h1 {
            font-size: 43px !important;
        }

        h2 {
            font-size: 44px !important;
        }

        h3 {
            font-size: 46px !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    section {
        >div {
            @include flex-box($jc: space-between, $ai: center);
            flex-direction: column;
        }

        >img {
            top: 50%;
        }
    }

    .portrait-container {
        @include flex-box($jc: center);
        height: 35vh;


        >img {
            &:first-of-type {
                top: -43%;
                left: unset;
                height: auto;
                width: 650px;
            }

            &:last-of-type {
                top: -73%;
                left: unset;
                height: 64vh;
            }
        }
    }

    .main-text {
        margin-top: unset;
        gap: 20px;
    }

    .end {
        padding: 0 2%;

        >div {
            &:first-of-type {
                margin-bottom: 30px;
                gap: 6%;

                >div {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        >img {
            top: 57%;
        }
    }

    .portrait-container {
        width: fit-content;

        >img {
            &:first-of-type {
                top: -35%;
                left: -285px;
                width: 550px;
            }
        }
    }

    .end {

        >div {
            &:first-of-type {
                writing-mode: unset;
                gap: 8%;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    section {
        >img {
            top: 61%;
        }
    }

    .main-text {
        h1 {
            font-size: 35px !important;
        }

        h2 {
            font-size: 36px !important;
        }

        h3 {
            font-size: 38px !important;
        }
    }
}

@media screen and (max-width: 475px) {
    section {
        >img {
            top: 64%;
        }
    }

    .portrait-container {
        >img {
            &:first-of-type {
                left: -200px;
                width: 380px;
            }

            &:last-of-type {
                left: -175px;
                height: 62vh;
            }
        }
    }

    .main-text {
        h1 {
            font-size: 27px !important;
        }

        h2 {
            font-size: 28px !important;
        }

        h3 {
            font-size: 30px !important;
        }
    }

    .end {
        margin-top: -22vh;
    }
}

@media screen and (max-width: 375px) {
    .portrait-container {
        height: 32vh;
        >img {
            &:first-of-type {
                left: -160px;
                top: -25%;
                width: 300px;
            }

            &:last-of-type {
                height: 56vh;
                left: -120px;
                top: -73%;
            }
        }
    }

    .main-text {
        margin-right: 10px;
        gap: 10px;

        h1 {
            font-size: 23px !important;
        }

        h2 {
            font-size: 24px !important;
        }

        h3 {
            font-size: 26px !important;
        }
    }
}