<div id="contact"></div>

@if (isVisible) {
<header @flyInLeft>
    <div></div>
    @if (appComponent.chosenLanguege === 'EN') {
    <h1>{{EN.title}}</h1>
    } @else {
    <h1>{{DE.title}}</h1>
    }
</header>
}

<section>
    <div>@if (isVisible) {
        <span @flyInLeft>
            @if (appComponent.chosenLanguege === 'EN') {
            <h2>{{EN.subTitle}}</h2>
            <span>{{EN.description}}</span><span>{{EN.description2}} <b>{{EN.callToAction}}</b></span>
            } @else {
            <h2>{{DE.subTitle}}</h2>
            <span>{{DE.description}}</span><span>{{DE.description2}} <b>{{DE.callToAction}}</b></span>
            }
        </span>
        }

        @if (isVisible) {
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" @flyInRight> <label for="name"><input
                    #name="ngModel" [(ngModel)]="contactData.name"
                    [ngClass]="name.touched?{valid : name.valid, invalid : name.invalid} : {}" type="text" name="name"
                    placeholder="Name" required>@if ( !name.valid && name.touched) {
                @if (appComponent.chosenLanguege === 'EN') {
                <p>{{EN.nameValidation}}</p>
                } @else {
                <p>{{DE.nameValidation}}</p>
                }
                }

            </label><label for="email"><input #email="ngModel" [(ngModel)]="contactData.email"
                    [ngClass]="email.touched?{valid : email.valid, invalid : email.invalid} : {}" type="email"
                    name="Email" placeholder="Your email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">@if ( !email.valid && email.touched) {
                @if (appComponent.chosenLanguege === 'EN') {
                <p>{{EN.emailValidation}}</p>
                } @else {
                <p>{{DE.emailValidation}}</p>
                }
                }

            </label><label for="message"><textarea #message="ngModel" [(ngModel)]="contactData.message"
                    [ngClass]="message.touched?{valid : message.valid, invalid : message.invalid} : {}" name="message"
                    cols="30" rows="10" placeholder="..." required minlength="4"></textarea>@if (
                !message.valid && message.touched) {
                @if (appComponent.chosenLanguege === 'EN') {
                <p>{{EN.messageValidation}}</p>
                } @else {
                <p>{{DE.messageValidation}}</p>
                }
                }

            </label><label class="checkbox-container" (mouseenter)="checkBoxBackground = true"
                (mouseleave)="checkBoxBackground = false">@if ( !checked) {
                <img #checkBox (click)="toggleCheckBox()"
                    [ngStyle]="{'background-color' : checkBoxBackground ? '#183771' : 'transparent'}"
                    src="assets/img/check-box-unchecked.png" loading="lazy">
                }

                @else {
                <img #checkBox (click)="toggleCheckBox()"
                    [ngStyle]="{'background-color' : checkBoxBackground ? '#183771' : 'transparent'}"
                    src="assets/img/check-box-checked.png" loading="lazy">
                }

                @if (appComponent.chosenLanguege === 'EN') {
                <span>
                    {{EN.beforePP}}
                    <a href="privacy-policy">{{EN.privacyPolicy}}</a>
                    {{EN.afterPP}}
                </span>
                } @else {
                <span>
                    {{DE.beforePP}}
                    <a href="privacy-policy">{{DE.privacyPolicy}}</a>
                    {{DE.afterPP}}
                </span>
                }
            </label>
            @if (appComponent.chosenLanguege === 'EN') {
            <input [ngClass]="{enabled : checked && name.valid && email.valid && message.valid}" type="submit"
                value="{{EN.button}}" [disabled]="!(checked && name.valid && email.valid && message.valid)">
            } @else {
            <input [ngClass]="{enabled : checked && name.valid && email.valid && message.valid}" type="submit"
                value="{{DE.button}}" [disabled]="!(checked && name.valid && email.valid && message.valid)">
            }
            @if (messageSent) {
            <span @fadeInOut>Thank you for your message. I will get back to you soon.</span>
            }
        </form>
        <img src="assets/img/contact-shadow.png" loading="lazy" @flyInLeft>
        }

    </div>
    @if (isVisible) {
    <a href="#" class="scroll-up" (mouseenter)="greenArrow = true" (mouseleave)="greenArrow = false" @flyInRight> @if (greenArrow) {
        <img src="assets/img/arrow-up-green.png" loading="lazy">
        }

        @else {
        <img src="assets/img/arrow-up.png" loading="lazy">
        }

    </a>
    }
</section>