@import '../../styles.scss';

.input-style {
    border: 1px solid #9747FF;
    border-radius: 10px;
    padding: 15px 30px;
    outline: unset;
    width: 100%;
    font-size: 16px;
}

header {
    @include flex-box($jc: flex-start);
    @extend .side-padding;
    width: 100%;
    background-color: transparent;

    >h1 {
        font-size: 90px;
        z-index: 1;
        background-color: transparent;
    }

    >div {
        position: absolute;
        left: 0;
        background-color: #9747FF;
        height: 4px;
        width: calc((33% - 450px));
        border-radius: 10px;
    }
}

section {
    @include flex-box($ai: flex-end);
    @extend .side-padding;
    flex-direction: column;
    gap: 50px;
    position: relative;
    padding-bottom: 100px;
    background-color: transparent;

    >div {
        @include flex-box($ai: flex-start, $jc: space-between);
        background-color: transparent;
        margin-top: 100px;

        >span {
            @include flex-box($ai: flex-start);
            flex-direction: column;
            gap: 32px;
            max-width: 33%;
            text-wrap: pretty;
            z-index: 1;
            background-color: transparent;

            >h2 {
                font-size: 23px;
                background-color: transparent;
            }
        }

        >img {
            position: absolute;
            background-color: transparent;
            right: calc(33% - 400px);
            bottom: -150px;
            left: -150px;
        }
    }
}

form {
    @include flex-box($jc: flex-start);
    flex-direction: column;
    width: 50%;
    gap: 32px;
    background-color: transparent;
    z-index: 1;

    >label {
        @include flex-box($ai: flex-start);
        flex-direction: column;
        width: 100%;
        gap: 10px;
        background-color: transparent;

        >p {
            color: #E61C40;
            font-size: 14px
        }

        >input[type=text],
        [type=email] {
            @extend .input-style;
        }

        >textarea {
            @extend .input-style;
            resize: none;
        }
    }

    >input[type=submit] {
        padding: 15px 30px;
        border: unset;
        border-radius: 10px;
        background-color: #B6B6B6;
    }

    >span {
        text-align: center;
        text-wrap: pretty;
    }
}

.default {
    border-color: #9747FF;

    &:hover {
        border-color: #70E61C;
    }

    &:focus {
        border-color: #70E61C;
    }
}

.valid {
    border-color: #70E61C !important;
    background-image: url('../../assets/img/valid.png');
    background-repeat: no-repeat;
    background-position: (98% 13px);

}

.invalid {
    border-color: #E61C40 !important;
    background-image: url('../../assets/img/invalid.png');
    background-repeat: no-repeat;
    background-position: (98% 13px);
}

.enabled {
    background-color: #70E61C !important;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #9747FF !important;
        transform: scale(1.1);
    }
}

.checkbox-container {
    @include flex-box($ai: center !important, $jc: flex-start !important);
    flex-direction: row !important;

    >img {
        cursor: pointer;
        z-index: 1;
    }
}

.scroll-up {
    position: absolute;
    bottom: 20px;
}

span {
    font-size: 16px;
    background-color: transparent;
}

b {
    font-size: 16px;
    background-color: transparent;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #9747FF;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

#contact {
    height: 400px;
}

@media screen and (min-width: 1921px){
    header {
        div {
            left: 590px;
            width: 200px;
        }
    }
    section {
        >div {
            >img {
                left: 0;
            }
        }
    
    }
}

@media screen and (max-width: 1300px) {
    header {
        >h1 {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 1150px) {
    header {
        >h1 {
            font-size: 70px;
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        >h1 {
            font-size: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        >h1 {
            font-size: 50px;
        }
    }

    section {
        >div {
            flex-direction: column;
            margin-top: 25px;
            gap: 50px;

            >span {
                max-width: 100%;
            }

            >img {
                bottom: -18%;
                height: 500px;
            }
        }
    }

    form {
        width: 100%;
    }
}