@import '../../styles.scss';

section {
    @include flex-box($jc: space-between);
    @extend .side-padding;
    min-height: 50vh;
    width: 100%;
    position: relative;
    background-color: transparent;

    >ul {
        @include flex-box();
        z-index: 1;
        list-style: none;
        flex-wrap: wrap;
        gap: 80px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: -5%;
        text-wrap: nowrap;
        width: 60%;
        background-color: transparent;

        >li {
            background-color: transparent;

            >p {
                background-color: transparent;
            }
        }



        img {
            transition: all 100ms ease-in-out;
            background-color: transparent;

            &:hover {
                transform: translateY(-20px);
            }
        }
    }

    >span {
        @include flex-box();
        flex-direction: column;
        gap: 35px;
        background-color: transparent;
        width: 30%;

        >h1 {
            font-size: 90px;
            align-self: flex-end;
            text-wrap: nowrap;
        }

        >p {
            font-size: 16px;
            text-align: end;
            text-wrap: pretty;
            background-color: transparent;
        }

        >a {
            text-decoration: none;
        }
    }

    >div {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 32.5%;
        height: 4px;
        width: calc(33% - 410px);
        background-color: #9747FF;
        border-radius: 10px;
    }

    >img {
        position: absolute;
        left: 0;
        top: 25%;
        background-color: transparent;
    }
}

#skills {
    height: 200px;
}