@import '../../styles.scss';

section {
    @include flex-box($jc: space-between);
    @extend .side-padding;
    min-height: 50vh;
    width: 100%;
    position: relative;
    background-color: transparent;

    >ul {
        padding-left: 0;
        z-index: 1;
        list-style: none;
        gap: 80px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-wrap: nowrap;
        width: 60%;
        background-color: transparent;

        >li {
            background-color: transparent;

            >img {
                transition: all 100ms ease-in-out;
                background-color: transparent;

                &:hover {
                    transform: translateY(-20px);
                }
            }

            >p {
                background-color: transparent;
            }
        }

    }

    >div {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 32.5%;
        height: 4px;
        width: calc(33% - 410px);
        background-color: #9747FF;
        border-radius: 10px;
    }

    >img {
        position: absolute;
        left: 0;
        top: 25%;
        background-color: transparent;
    }
}

.info-container {
    @include flex-box();
    flex-direction: column;
    gap: 35px;
    background-color: transparent;
    width: 30%;

    >h1 {
        font-size: 90px;
        align-self: flex-end;
        text-wrap: nowrap;
    }

    >p {
        font-size: 16px;
        text-align: end;
        text-wrap: pretty;
        background-color: transparent;
    }
}

a {
    text-decoration: none;
}

#skills {
    height: 200px;
}

@media screen and (max-width: 1531px) {
    section {
        >div {
            top: 28.5%;
        }
    }
}

@media screen and (max-width: 1300px) {
    section {
        >ul {
            gap: 30px;
        }

        >div {
            width: 2%;
        }
    }

    .info-container {
        width: 35%;

        >h1 {
            font-size: 80px;
        }

        >p {
            text-align: center;
        }
    }
}

@media screen and (max-width: 1024px) {
    section {
        flex-direction: column-reverse;
        gap: 100px;

        >ul {
            gap: 80px;
            width: 100%;

            >li:nth-child(9) {
                grid-column-start: 2;
            }
        }

        >div {
            top: 5%;
            width: 2%
        }
    }

    .info-container {
        width: 60%;
        align-items: flex-end;
        align-self: flex-end;
        gap: 25px;

        >h1 {
            font-size: 60px;
        }

        >p {
            text-align: end;
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        >ul {
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            >li:nth-child(9) {
                grid-column-start: auto;
            }

            >li:nth-child(10) {
                grid-column-start: 2;
            }
        }

        >div {
            top: 4.2%;
            width: 2%
        }
    }

    .info-container {
        >h1 {
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 568px) {
    section {
        >ul {
            gap: 30px;

            img {
                transform: scale(0.75);
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    section {
        gap: 50px;

        >ul {
            gap: 20px;

            img {
                transform: scale(0.65);
            }

            p {
                font-size: 14px;
            }
        }
    }
}