<section>
    <ul>
        <li>
            <img src="assets/img/angular.png">
            <p>Angular</p>
        </li>
        <li>
            <img src="assets/img/typescript.png">
            <p>Typescript</p>
        </li>
        <li>
            <img src="assets/img/javascript.png">
            <p>Javascript</p>
        </li>
        <li>
            <img src="assets/img/html.png">
            <p>HTML</p>
        </li>
        <li>
            <img src="assets/img/firebase.png">
            <p>Firebase</p>
        </li>
        <li>
            <img src="assets/img/git.png">
            <p>Git</p>
        </li>
        <li>
            <img src="assets/img/css.png">
            <p>CSS</p>
        </li>
        <li>
            <img src="assets/img/rest-api.png">
            <p>Rest-Api</p>
        </li>
        <li>
            <img src="assets/img/scrum.png">
            <p>Srum</p>
        </li>
        <li>
            <img src="assets/img/material-design.png">
            <p>Material</p>
            <p>Design</p>
        </li>
    </ul>
    <span>
        <h1>My Skills</h1>
        <p>I have gained experience in building projects with various front end technologies and concepts.</p>
        <a href="#contact" class="primary-button">Get in touch</a>
    </span>
    <div class="line"></div>
</section>
