<div id="portfolio"></div>
@if (isVisible) {
<header @flyInRight>
    <span>
        <div></div>
        <h1>Portfolio</h1>
        <div></div>
    </span>
    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
</header>
}

<section>
    @for (project of projects; track projects; let even = $even; let index = $index;) {
    <app-project [project]="project" [even]="even" [index]="index"></app-project>
    }
    <img src="assets/img/portfolio-shadow-right.png">
</section>