<footer>
    <div><a href="#"><img src="assets/img/name.png"></a>
        <p>© Serhat Kaan Manisali 2024</p>
        <div><a href="https://github.com/SerhatKaanManisali" target="_blank"><img src="assets/img/github.png"></a><a
                href="mailto:serhat.manisali.02@gmail.com"><img src="assets/img/email.png"></a><a
                href="https://www.linkedin.com/in/serhat-kaan-manisali/" target="_blank"><img
                    src="assets/img/linked-in.png"></a></div>@if (windowWidth <=768) { <a href="">Imprint</a>
            }

    </div>@if (windowWidth > 768) {
    <a href="">Imprint</a>
    }

</footer>