@import '../../../styles.scss';

section {
    @include flex-box($ai: flex-start);
    @extend .side-padding;
    flex-direction: column;
    border-top: 4px solid #70E61C;
    min-height: 200px;
    gap: 10px;
    padding-top: 25px;

    >div {
        @include flex-box($jc: space-between);
        width: 100%;


        >div {
            @include flex-box();
            gap: 42px;

            img {
                transition: all 100ms ease-in-out;
    
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    >a {
        text-decoration: none;
        font-size: 16px;
    }
}