<div>
    @if (even) {
        <img src="{{project.path}}">
    }
    <div>
        <h1>{{project.name}}</h1>
        <ul>
            @for (skill of project.skills; track $index) {
                <li>{{skill}}</li>
            }
        </ul>
        <p>{{project.description}}</p>
        <div>
            <a href="{{project.testLink}}">Live test</a>
            <a href="{{project.gitHubLink}}">Github</a>
        </div>
    </div>

    @if (!even) {
        <img src="{{project.path}}">
    }
</div>