@import '../../../styles.scss';

.project-container {
    @include flex-box();
    gap: 10%;
    width: 100%;
    background-color: transparent;

    >img {
        z-index: 1;
        background-color: transparent;
        width: 600px;
        height: 600px;
    }

    >div {
        @include flex-box();
        flex-direction: column;
        gap: 15px;
        text-wrap: wrap;

        >h1 {
            font-size: 32px;
            color: #9747FF;
        }

        >p {
            font-size: 16px;
            max-width: 90%;
            z-index: 1;
            background-color: transparent;
        }

        >ul {
            margin: 0;
            padding: 0;
            z-index: 1;
            background-color: transparent;

            >li {
                list-style-type: none;
                display: inline;
                color: #70E61C;
                background-color: transparent;

                &:not(:first-child)::before {
                    content: " | ";
                }
            }
        }
    }
}

.buttons {
    @include flex-box();
    margin-top: 30px;
    gap: 85px;

    a {
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 10px;
        transition: all 100ms ease-in-out;
        text-wrap: nowrap;
        z-index: 1;

        &:first-of-type {
            background-color: #9747FF;

        }

        &:last-of-type {
            border: 1px solid #70E61C;
        }

        &:hover {
            background-color: #70E61C;
        }
    }
}

#placeholder {
    height: 600px;
}

@media screen and (max-width: 1150px) {
    .project-container {
        gap: 5%;
    }
}

@media screen and (max-width: 1024px) {
    #placeholder {
        height: 10px;
    }

    .project-container {
        >div {
            text-align: center;
        }
    }
}

@media screen and (max-width: 568px) {
    .project-container {
        >img {
            width: 330px;
            height: 330px;
        }
    }

    .buttons {
        gap: 40px;

        >a {
            padding: 10px 20px;
            font-size: 20px;
        }
    }
}