<div id="project{{index}}" class="project-container"
    [ngStyle]="windowWidth > 1150 ? {'margin-left' : even ? '5%' : '-5%'} : {}"
    [ngStyle]="windowWidth <= 1024 ? {'flex-direction': even ? 'column' : 'column-reverse'} : {}">
    @if (even && isVisible) {
    <img src="{{project.path}}" loading="lazy" @flyInLeft>
    <div [ngStyle]="windowWidth > 1024 ? {'align-items' : even ? 'flex-start' : 'flex-end', 'text-align' : even ? 'start' : 'end'} : {'align-items': 'center'}"
        @flyInLeft>
        <h1>{{project.name}}</h1>
        <ul>
            @for (skill of project.skills; track $index) {
            <li>{{skill}}</li>
            }
        </ul>
        @if (appComponent.chosenLanguege === 'EN') {
        <p>{{project.descriptionEn}}</p>
        } @else {
        <p>{{project.descriptionDe}}</p>
        }
        <div class="buttons">
            <a href="{{project.testLink}}" target="_blank">Live test</a>
            <a href="{{project.gitHubLink}}" target="_blank">Github</a>
        </div>
    </div>
    }

    <div id="placeholder"></div>

    @if (!even && isVisible) {
    <div [ngStyle]="windowWidth > 1024 ? {'align-items' : even ? 'flex-start' : 'flex-end', 'text-align' : even ? 'start' : 'end'} : {'align-items': 'center'}"
        @flyInRight>
        <h1>{{project.name}}</h1>
        <ul>
            @for (skill of project.skills; track $index) {
            <li>{{skill}}</li>
            }
        </ul>
        @if (appComponent.chosenLanguege === 'EN') {
        <p>{{project.descriptionEn}}</p>
        } @else {
        <p>{{project.descriptionDe}}</p>
        }
        <div class="buttons">
            <a href="{{project.testLink}}" target="_blank">Live test</a>
            <a href="{{project.gitHubLink}}" target="_blank">Github</a>
        </div>
    </div>
    <img src="{{project.path}}" loading="lazy" @flyInRight>
    }
</div>