@import '../../../styles.scss';

nav {
    @include flex-box($jc: space-between);
    @extend .side-padding;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    background-color: #141D2F;

    img {
        background-color: transparent;
    }

    a {
        background-color: transparent;
        text-decoration: none;
        transition: all 100ms ease-in-out;
        cursor: pointer;
        z-index: 3;

        &:hover {
            color: #70E61C;
        }
    }


    >span {
        @include flex-box();
        gap: 29px;
        font-size: 23px;

        >span {
            background-color: transparent;
        }
    }
}

.mobile-menu {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    z-index: 3;
    background-color: transparent;

    &:hover {
        color: #70E61C;
    }
}

.highlighted {
    position: relative;
    color: #70E61C;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 55px;
        background-color: #9747FF;
        border-radius: 10px;
    }
}

.highlighted-languege {
    position: relative;
    color: #70E61C;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: #9747FF;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1921px) {
    nav {
        transform: none;
        left: 0;
        padding: 0 230px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        >span {
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.75);
            flex-direction: column;
        }
    }
}