@import '../../../styles.scss';

nav {
    @include flex-box($jc: space-between);
    @extend .side-padding;
    height: 100px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    background-color: #141D2F;
    >a {
        font-size: 42px;
        font-weight: 700;
        text-decoration: none;
        >img {
            background-color: transparent
        }
    }

    >span {
        @include flex-box();
        gap: 29px;
        font-size: 23px;

        >a {
            text-decoration: none;
            transition: all 100ms ease-in-out;

            &:hover {
                color: #70E61C;
            }
        }
    }
}