<nav>
    <a href="#" (click)="highlightLink(0)"><img src="assets/img/name.png"></a>
    @if (windowWidth > 768 || menuActive) {
    <span>
        <a href="#about-me" (click)="highlightLink(1)" [ngClass]="{'highlighted' : highlightedLinkIndex === 1}">About
            me</a>
        <a href="#skills" (click)="highlightLink(2)" [ngClass]="{'highlighted' : highlightedLinkIndex === 2}">Skills</a>
        <a href="#portfolio" (click)="highlightLink(3)"
            [ngClass]="{'highlighted' : highlightedLinkIndex === 3}">Portfolio</a>
        <span>
            <a (click)="chooseLanguage('EN')" [ngClass]="{'highlighted-languege' : chosenLanguege === 'EN'}">EN</a>
            |
            <a (click)="chooseLanguage('DE')" [ngClass]="{'highlighted-languege' : chosenLanguege === 'DE'}">DE</a>
        </span>
    </span>
    }
    @else if (windowWidth <= 768 && !menuActive) {
    <div class="mobile-menu" (click)="toggleMenu()">&#9776;</div>
    }
    @if (windowWidth <= 768 && menuActive) {
    <div class="mobile-menu" (click)="toggleMenu()">&#10005;</div>
    }
</nav>