<nav>
    <a href="#" (click)="highlightLink(0)"><img src="assets/img/name.png"></a>
    <span>
        <a href="#about-me" (click)="highlightLink(1)" [ngClass]="{'highlighted' : highlightedLinkIndex === 1}">About me</a>
        <a href="#skills" (click)="highlightLink(2)" [ngClass]="{'highlighted' : highlightedLinkIndex === 2}">Skills</a>
        <a href="#portfolio" (click)="highlightLink(3)" [ngClass]="{'highlighted' : highlightedLinkIndex === 3}">Portfolio</a>
        <a>EN | DE</a>
    </span>
</nav>